* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
background-color:#F5ECD7;
color: #100f0f;
}  
.tiptap-editor {
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 150px;
  padding: 10px;
}

.tiptap-editor:focus {
  outline: none;
}
