@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.logo {
    display: flex;
    align-items: center; /* Alinear logo y texto */
    gap: 5px; /* Espacio entre el logo y el texto */
  }
  
  .logo-img {
    width: 75px; /* Ajusta el tamaño según necesites */
    height: auto;
  }
.logo h1{
    color: #050505;
    font-size: 21px;
}
header {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-shadow: 0px 187px 75px #00000003, 0px 105px 63px #0000000d, 0px 47px 47px #00000017, 0px 12px 26px #0000001a, 0px 0px 0px #0000001a;
    background: #f3f0f0;
}
header .header-left {
    display: flex;
    align-items: center;
}
header .header-left .logo {
   padding-top: 5px;
}
header .header-left nav {
    margin-left: 75px;
}
header .header-left nav ul {
    display: flex;
}
nav ul li a {
    display: block;
    color: #070707;
    font-size: 23px;
    padding: 20px 18px;
    transition: 0.2s;
}
nav ul li a:hover{
    color: #041da8;
}
nav .login-signup {
    display: none;
}
header .header-right {
    display: flex;
    align-items: center;
}
header .login-signup {
    color: #0a0a0a;
    font-weight: bold;
}
header .login-signup a {
    display: inline-block;
    color: #010101;
    background: transparent;
    padding: 5px 12px;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 20px;
}
header .header-right .hamburger {
    margin-left: 20px;
    cursor: pointer;
    display: none;
}
header .header-right .hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #070707;
}
@media only screen and (max-width: 1000px) {
    header {
        padding: 0 20px;
    }
    header .header-right .hamburger {
        display: block;
    }
    header .header-left nav {
        margin: 0;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: #212121;
        padding: 30px;
        transition: 0.3s;
        text-align: center;
        z-index: 2;
    }
    header .header-left nav.active {
        top: 70px;
    }
    header .header-left nav ul {
        display: block;
    }
}
@media only screen and (max-width: 500px) {
    nav .login-signup {
        display: block;
        margin-top: 20px;
    }
    body {
        background-position: left -290px bottom 20px;
        
        background-size: 200%;
        
    }
    header .header-right .login-signup {
        display: none;
    }
    .logo h1 {
        font-size: 20px;
        padding-bottom: 35px;
    }
}

/* .head-navbar {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background:transparent;
    font-size: 20px;
    
    
}

.head-navbar .header-left {
    z-index: 1;
    
}


.logo{
    font-size: 20px;
    color: #fff;
}
.head-navbar .header-left {
    display: flex;
    align-items: center;
}
.head-navbar .header-left .logo {
    width: 140px;
}
.head-navbar .header-left nav {
    margin-left: 50px;
}
.head-navbar .header-left nav ul {
    display: flex;
}
nav ul li a {
    display: block;
    color: #fff;
    font-size: 20px;
    padding: 5px 25px;
    transition: 0.2s;
}
nav ul li a:hover,
nav ul li a.active {
    color: #fff;
}
nav .login-signup {
    display: none;
}
.head-navbar .header-right {
    display: flex;
    align-items: center;
}
.head-navbar .login-signup {
    color: #fff;
    font-weight: bold;
}
.head-navbar .login-signup a {
    display: inline-block;
    color: #fff;
    background: transparent ;
    padding: 5px 12px;
    border-radius: 5px;
}
.head-navbar .header-right .hamburger {
    margin-left: 20px;
    cursor: pointer;
    display: none;
}
.head-navbar .header-right .hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #fff;
}
@media only screen and (max-width: 1000px) {
    .head-navbar {
        padding: 0 20px;
    }
    .head-navbar .header-right .hamburger {
        display: block;
    }
    .head-navbar .header-left nav {
        margin: 0;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: #fff;
        padding: 30px;
        transition: 0.3s;
        text-align: center;
        z-index: -1;
    }
    .head-navbar .header-left nav.active {
        top: 70px;
    }
    .head-navbar .header-left nav ul {
        display: block;
    }
    .nav-menu.active {
        z-index: 1;
    }
}
@media only screen and (max-width: 500px) {
    nav .login-signup {
        display: block;
        margin-top: 20px;
    }
    .head-navbar .header-right .login-signup {
        display: none;
    }
    .nav-menu.active{
        z-index: 1;
    }
} */