* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.form-reset {
    width: 400px;
    min-height: 200px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2%;
    background-color: #8FBF9F;
}

.form-reset .con-reset {
    display: -webkit-flex;
    display: flex;
  
    -webkit-justify-content: space-around;
    justify-content: space-around;
  
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  
    margin: 0 auto;
}

.head-reset {
    margin: 2% auto 10% auto;
    text-align: center;
}

.head-reset h2 {
    font-size: 250%;
    font-family: "Playfair Display", serif;
    color: #3e403f;
}

.log-reset {
    display: inline-block;
    color: #000;
  
    width: 250px;
    height: 50px;
  
    padding:  2px;
    background: #F18F01;
    border-radius: 5px;
  
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
  
    margin: 10% auto;
    letter-spacing: 0.05em;
    font-size: 20px;
    
  }

.label-reset {
    color: #252625;
    font-family: "Playfair Display", serif;
}


/* codigos de privatePassword*/

.form-pp {
    width: 400px;
    min-height: 200px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2%;
    background-color: #8FBF9F;
}

.form-pp .con-pp {
    display: -webkit-flex;
    display: flex;
  
    -webkit-justify-content: space-around;
    justify-content: space-around;
  
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  
    margin: 0 auto;
}

.form-head-pp {
    margin: 2% auto 10% auto;
    text-align: center;
}

.form-head-pp h2 {
    font-size: 250%;
    font-family: "Playfair Display", serif;
    color: #3e403f;
    padding-bottom: 20px;
}
.form-head-pp p {
    letter-spacing: 0.05em;
    font-size: 22px;
  }

.log-pp {
    display: inline-block;
    color: #000;
  
    width: 250px;
    height: 50px;
  
    padding:  2px;
    background: #F18F01;
    border-radius: 5px;
  
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
  
    margin: 10% auto;
    letter-spacing: 0.05em;
    font-size: 20px;
    
  }

.label-pp {
    color: #080808;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    
}